@font-face {
    font-family: "BlackshearRegular";
    src: url("./Fonts/BlackshearDemoRegular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: "BlackshearScript";
    src: url("./Fonts/BlackshearDemoScript.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
  }
  ::-webkit-scrollbar {
    display: none;
}

html{
    min-width: 100%;
    min-height: 100%;
    background-color: darkslateblue;
    font-family: BlackshearRegular;
    color:gainsboro;
}
body{
    width: 100%;
    height: 90%;
    position: absolute;
    text-align: center;
    background-color: darkslateblue;
    font-family: BlackshearRegular;
}
#header{
    padding-right: 2.5%;
    padding-left: 2.5%;
}
#home{
    float: right;
}
#help{
    float: left;
}
.header1{
    background-color: darkslateblue;  
    margin-bottom: 15%;
    padding-bottom: 0%;
}
.h3{
    display: block;
    text-align: justify;
    background-color: darkslateblue;

}
#h3 title1{
    text-align: center;
    margin: 5%;

}
#description{
    display: block;
    text-align: justify;
    margin: auto;
    padding: auto;
    background-color: darkslateblue;
}
.input_fields{
    background-color:darkslateblue;
    
}

#input_form{
    background-color: darkslateblue;
    margin-top: 10%;
}
.stage_1{
    background-color: darkslateblue;
    word-spacing: 2px;
    line-break: loose;
    border-spacing: 5%;
    padding: 10%;
}

#target{
    padding: 12px 20px;
    cursor: pointer;
    border-width: 1px;
    border-radius: 0 40px 0 40px;
    font-size: 12px;
    font-weight: 500;
    margin: 5%;
}
#submit_1{
    padding: 12px 20px;
    cursor: pointer;
    border-width: 1px;
    border-radius: 0 40px 0 40px;
    font-size: 14px;
    font-weight: 500;
    font-family: BlackshearRegular;
    background-color: gainsboro;
    margin:5%;
}
.stage_2{
    background-color: darkslateblue;
    margin:15%
}
#test_type_decription{
    background-color: darkslateblue;
    margin: 7.5%
}
#test_type{
    padding: 12px 20px;
    cursor: pointer;
    border-width: 1px;
    font-size: 14px;
    font-weight: 500;
    font-family: BlackshearRegular;
    box-shadow: 0px 10px 20px -6px rgb(0 0 0 / 12%);
    background-color: gainsboro;
    margin:5%;
}
#submit_2{
    padding: 12px 20px;
    cursor: pointer;
    border-width: 1px;
    border-radius: 0 40px 0 40px;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0px 10px 20px -6px rgb(0 0 0 / 12%);
    background-color: gainsboro;
    margin: 5%;
}
#stage_3{
    background-color: darkslateblue;
   
}
#output{
    padding: 12px 20px;
    cursor: pointer;
    border-width: 1px;
    border-radius: 0 40px 0 40px;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0px 10px 20px -6px rgb(0 0 0 / 12%);
    background-color: gainsboro;
    margin:2.5%;
}
#retest{
    padding: 6px 10px;
    cursor: pointer;
    border-width: 1px;
    border-radius: 0 40px 0 40px;
    font-size: 10px;
    font-weight: 500;
    box-shadow: 0px 10px 20px -6px rgb(0 0 0 / 12%);
    background-color: gainsboro;
    margin:2.5%;
}
#newtest{
    padding: 6px 10px;
    cursor: pointer;
    border-width: 1px;
    border-radius: 0 40px 0 40px;
    font-size: 10px;
    font-weight: 500;
    box-shadow: 0px 10px 20px -6px rgb(0 0 0 / 12%);
    background-color: gainsboro;
    margin:2.5%;
}